<seelog type="adaptive" mininterval="2000000" maxinterval="100000000" critmsgcount="50" minlevel="info">
    <outputs formatid="common">
        <rollingfile type="date" filename="chat_access" datepattern="2006.01.2.log" maxrolls="7" />
	</outputs>
	<formats>
		<format id="common"  format="%Msg%n"/>
	</formats>
</seelog>
