{% set etcdvalue = item.value %}

[Config]
gid={{etcdvalue.gid}}
serverid="{{etcdvalue.serverid}}"

etcd_endpoint = {{etcdvalue.etcd_endpoint}} #[prod] 当GateConfig的run_mode是prod时有效
# Etcd Root Path 注意以/开头 如 /a4k
etcd_devops = "{{etcdvalue.etcd_root_devops}}"
etcd_server = "{{etcdvalue.etcd_root_server}}"

httpAddress = {{etcdvalue.httpport}}
internalip = "{{etcdvalue.CloudIP}}"

[LimitConfig]
limit_url_regex = ".*" # 这些url做限制（http clientip和ratelimit）
rate_limit_valid = false                 # 限制访问速度的开关
rate_limit_Average = 10                 # 限速每秒平均数量，线上请改为100
rate_limit_Burst = 10                  # 限速每秒最多数量，线上请改为500

