# 常用参数
Endpoint="cn-beijing.log.aliyuncs.com"
AccessKeyID=""
AccessKeySecret=""
ProjectName="self-home-yfqj"
LogStoreName="10052_fvw1_serverlib"
AppKey= "{{etcdvalue.AppKey|default("56f4588dd9414fa7bd88ac175e945a28")}}"
BDCIsTestEnv=true